/*
 * The CSS below is ordered alphabetically by class/element/ID
 */

a:link {
  color: #1D2C8B;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #1D2C8B;
  text-decoration: none;
}

.app-logo {
  font-family: 'Audiowide', sans-serif;
  font-size: 4rem;
  margin-top: 1.35em;
  text-shadow: 2px 2px #1D2C8B;
}

body {
  background-attachment: fixed;
  background-color: black;
  background-image: url('../images/hextech-annie-background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.canvas-loader-wrapper {
  left: 50%;
  position: absolute;
  top: 45%;
}

.centered {
  text-align: center;
}

.clear-left {
  clear: left;
}

.error-text {
  color: #EF473A;
  font-size: 1.2rem;
  padding: 1em;
}

header {
  background: black;
  height: 2.5em;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

header img {
  padding-right: 10px;
}

.header-bar {
  padding-top: 10px;
  text-align: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.float-right {
  float: right;
}

footer {
  background: black;
  bottom: 0;
  height: 2.75em;
  left: 0;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}

.input-field {
  background-color: #3B3B3B;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: none;
  color: white;
  font-size: 1.5rem;
  padding: 5px;
  width: 30%;
}

.input-field:focus {
  border: 1px #1D2C8B solid;
}

.input-field-2 {
  background-color: #3B3B3B;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: none;
  color: white;
  font-size: 1.25rem;
  padding: 5px;
  width: 25%;
}

.input-field-2:focus {
  border: 1px #1D2C8B solid;
}

.left-align {
  text-align: left;
}

.results-hextech-champion-name {
  padding-left: 0.5em;
}

.results-hextech-filters {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.results-hextech-header-col {
  font-size: 1.25rem;
}

.results-hextech-key {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.results-hextech-row {
  border-bottom: 1px solid #3B3B3B;
  border-top: 1px solid #3B3B3B;
  font-size: 1.25rem;
}

.results-hextech-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.results-summoner-container {
  background-color: black;
  border: 2px #1D2C8B solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 85%;
}

.results-summoner-info {
  margin-left: 9em;
  margin-top: -2em;
}

.results-summoner-name {
  font-size: 2rem;
  font-weight: bold;
}

.results-summoner-sub-info {
  font-size: 1.5rem;
  line-height: 0.5;
}

.search-another-button {
  background-color: #1D2C8B;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  height: 3em;
  margin-top: -11em;
  width: 8em;
}

.search-button {
  background-color: #1D2C8B;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  height: 2em;
  margin-top: 2em;
  width: 6em;
}

.select-dropdown {
  background-color: #3B3B3B;
  border-radius: 3px;
  border: 1px black solid;
  box-shadow: none;
  color: white;
  font-size: 1.4rem;
  padding: 5px;
}

.select-dropdown:focus {
  border: 1px #1D2C8B solid;
}

.sub-header-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.sub-header-text {
  font-size: 1.5rem;
}

tr {
  height: 4em;
}

.vertical-align-image {
  vertical-align: middle;
}
