body {
  background-color: black;
  background-image: url('../images/hextech-annie-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

footer {
  background: black;
  bottom: 0px;
  height: 2.75em;
  left: 0px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}

.header-text {
  font-family: 'Audiowide', sans-serif;
  font-size: 4rem;
  margin-top: 1.5em;
  text-shadow: 2px 2px #1D2C8B;
}

.main-button {
  background-color: #1D2C8B;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  height: 2em;
  margin-top: 2em;
  width: 6em;
}

.input-field {
  appearance: none;
  background-color: #3B3B3B;
  border-radius: none;
  border: 1px black solid;
  box-shadow: none;
  color: white;
  font-size: 1.5rem;
  padding: 5px;
  width: 20%;
}

.input-field:focus {
  border: 1px #1D2C8B solid;
}

.sub-header-text {
  font-size: 1.5rem;
  font-weight: 300;
}
