<div class="centered">
  <br>
  <!-- Brief application description -->
  <div class="sub-header-container">
    <p class="sub-header-text">
      A different way to see how you are doing with mastering your favorite Champions and collecting Hextech Chests.
      HextechHunt will let you know which Champions have done the honor of rewarding you with a Hextech Chest, which Champions hold great potential to reward
      you with a Chest, and which Champions are still on the journey towards Mastery for the current season.</p>
    <br>
    <p class="sub-header-text">Enter your Summoner name and select your Region below to view your progress.</p>
  </div>

  <!-- Error message that will appear if an error occurs with the user's search -->
  <h2 class="error-text">{{ errorMessage }}</h2>

  <form>
    <!-- Summoner name input -->
    <input class="input-field" type="text" placeholder="Summoner name" data-ng-model="summonerName">
    <!-- Region select -->
    <select class="select-dropdown" data-ng-options="region.name for region in availableRegions track by region.id" data-ng-model="selectedRegion"></select>
    <br>
    <!-- Search button -->
    <input type="submit" value="Search" class="search-button" data-ng-disabled="summonerName === undefined || summonerName === ''"
      data-ng-click="search(selectedRegion, summonerName)">
  </form>
</div>
